@charset "UTF-8";
body{
    background: #f3f3f3;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
#home{
    float: left;
}
.index li{
    list-style: none;
    top: 10px;
    width: 100px;
    height: 25px;
    float: right;
    font-size: 10px;
}
.index li:hover{
    color: #ff6b37 ;
}
.person li{
    list-style: none;
    width: 100px;
    height: 25px;
    font-size: 10px;

}
/*.person{*/
/*position: relative;*/
/*top: 30px;*/
/*left: 765px;*/
/*}*/
.dhl a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.dhl a:hover{
    color: #ff6b37;
}
header{
    height: 35px;
}
.main1{
    height: 80px;
    line-height: 80px;
    background: #ffffff;
    position: relative;
}
.dzdp{
    display:inline ;
    position: absolute;
    left: 100px;

}
.dp{
    display: inline;
    text-align: center;
    line-height: 80px;
    height: 80px;
    position: absolute;
    left: 300px;
    font-weight: bold;
}


.main2{
    position: relative;
    margin: 20px;
}
.text1{
    position: absolute;
    font-size: 20px;
    left: 30px;
}
.text2{
    position: absolute;
    left: 400px;

}
.main2 input:nth-child(1){
    width: 80px;
    height: 30px;

}
.main2 input:nth-child(2){
    width: 200px;
    height: 30px;
}
table{
    width: 670px;
    position: relative;
    top: 50px;
    left: 50px;
}
td{
    width: 670px;
    height: 100px;
    /*border: 2px solid red;*/
    background: #ffffff;
    position: relative;
}
td:hover{
    background:#f3f3f3 ;
}
.span1{
    position: absolute;
    font-size: 15px;
    left: 100px;
}
.span2{
    position: absolute;
    left: 500px;
    top: 20px;
    font-size: 10px;
    color: #999999;
}
.span3{
    position: absolute;
    top: 50px;
    left: 100px;
}
.span4{
    position: absolute;
    top: 50px;
    left: 160px;
}

.gr{
    position: absolute;
    top: 200px;
    left: 800px;
}
footer{
    margin: 50px auto;
}
footer div{
    width: 1200px;
    text-align: center;
    margin: 100px auto;
    font-size: 10px;
    color: #999999;
    line-height: 30px;
}
footer span{
    margin:0 2px;
}